// footer container flex-basis progression
$footerContainerFlexBasis1: 150px;
$footerContainerFlexBasis2: 200px;
$footerContainerFlexBasis3: 370px;
$footerContainerFlexBasis4: 430px;
$footerContainerFlexBasis5: 460px;

// text container H1 font-size progression
$textContainerH1FontSize1: 0px;
$textContainerH1FontSize2: 30px;
$textContainerH1FontSize3: 35px;
$textContainerH1FontSize4: 40px;
$textContainerH1FontSize5: 48px;

// text container H2 font-size progression
$textContainerH2FontSize1: 0px;
$textContainerH2FontSize2: 24px;
$textContainerH2FontSize3: 29px;
$textContainerH2FontSize4: 34px;
$textContainerH2FontSize5: 42px;

// text container description font-size progression
$textContainerDescriptionFontSize1: 0px;
$textContainerDescriptionFontSize2: 14px;
$textContainerDescriptionFontSize3: 16px;
$textContainerDescriptionFontSize4: 20px;
$textContainerDescriptionFontSize5: 24px;

// text container description width progression
$descriptionContainerWidth1: 400px;
$descriptionContainerWidth2: 620px;
$descriptionContainerWidth3: 780px;

// assignments image width progression
$assignmentsImageWidth1: 0px;
$assignmentsImageWidth2: 45px;
$assignmentsImageWidth3: 50px;
$assignmentsImageWidth4: 65px;
$assignmentsImageWidth5: 65px;

// assignments description font size progression
$assignmentsDescriptionFontSize1: 0px;
$assignmentsDescriptionFontSize2: 16px;
$assignmentsDescriptionFontSize3: 18px;
$assignmentsDescriptionFontSize4: 20px;
$assignmentsDescriptionFontSize5: 24px;

// technology logo width progression
$technologyLogoWidth1: 0px;
$technologyLogoWidth2: 62px;
$technologyLogoWidth3: 100px;
$technologyLogoWidth4: 130px;
$technologyLogoWidth5: 170px;

// contact form label width progression
$contactFormLabelWidth1: 0px;
$contactFormLabelWidth2: 71px;
$contactFormLabelWidth3: 80px;
$contactFormLabelWidth4: 95px;
$contactFormLabelWidth5: 102px;

// contact form label font size progression
$contactFormLabelFontSize1: 0px;
$contactFormLabelFontSize2: 16px;
$contactFormLabelFontSize3: 18px;
$contactFormLabelFontSize4: 20px;
$contactFormLabelFontSize5: 22px;

// contact form button font size progression
$contactFormButtonFontSize1: 0px;
$contactFormButtonFontSize2: 16px;
$contactFormButtonFontSize3: 18px;
$contactFormButtonFontSize4: 18px;
$contactFormButtonFontSize5: 20px;