html {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;

  font-family: 'Viga', sans-serif;
}

.mainContainerOuter {
  width: 100%;
  height: 100%;

  >.mainContainerInner {
    width: 100%;
    height: 100%;

    >.introContainer {
      box-sizing: border-box;

      display: flex;
      position: relative;

      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;

      align-items: stretch;
      align-content: flex-start;

      width: 100%;
      height: 100%;

      z-index: 1;

      >.textContainer {
        position: relative;
        box-sizing: border-box;

        display: flex;

        flex-direction: column;
        flex-wrap: nowrap;

        justify-content: center;
        align-items: center;
        align-content: flex-start;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;

        z-index: 2;

        >h1 {
          box-sizing: border-box;

          margin-top: 5px;
          margin-bottom: 5px;

          padding-left: 5px;
          padding-right: 5px;

          text-transform: uppercase;
          text-align: center;
          color: #525d7d;
        }

        >.descriptionContainer {
          box-sizing: border-box;

          color: #B3ACDF;
          width: 25vw;
        }

        >.buttonsContainer {
          box-sizing: border-box;
          display: flex;

          margin-top: 15px;

          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;

          align-items: center;
          align-content: flex-start;

          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: auto;

          >.button {
            box-sizing: border-box;
            display: block;

            border: 2px solid #525d7d;
            padding: 5px 20px 5px 20px;

            text-align: center;
            text-transform: uppercase;
            text-decoration: none;

            color: #525d7d;
            background-color: white;
          }

          >.button:first-child {
            margin-right: 20px;
          }

          >.primaryButton {
            background-color: #525d7d;
            color: white;
          }
        }
      }

      >.footerContainer {
        position: relative;
        box-sizing: border-box;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;

        background-image: url('images/background/shutterstock_616747982.svg');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-attachment: scroll;
        background-size: 100% 100%;

        box-shadow: 0px -25px 35px -25px black inset;
        z-index: 1;
      }
    }

    >.assignmentsContainer {
      box-sizing: border-box;
      display: flex;

      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;

      align-items: stretch;
      align-content: flex-start;

      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;

      padding-bottom: 50px;

      >h2 {
        box-sizing: border-box;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;

        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        color: #525d7d;
      }

      >.assignmentsColumnsContainer {
        box-sizing: border-box;
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        align-items: stretch;
        align-content: flex-start;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;

        padding-left: 10px;
        padding-right: 10px;

        .assignmentsColumnContainer {
          box-sizing: border-box;
          display: flex;

          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;

          align-items: flex-start;
          align-content: flex-start;

          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: 50%;

          .assignmentsRowContainer {
            box-sizing: border-box;
            display: flex;

            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;

            align-items: center;
            align-content: flex-start;

            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;

            padding-top: 12px;

            .assignmentsIconContainer {
              >img {
              }
            }

            .assignmentsDescriptionContainer {
              box-sizing: border-box;

              padding-left: 10px;
              color: #525d7d;
            }
          }
        }

        .assignmentsColumnContainer:first-child {
          padding-right: 10px;
        }

        .assignmentsColumnContainer:nth-child(2) {
          padding-left: 10px;
        }

      }
    }

    >.technologyStackContainer {
      display: flex;
      position: relative;

      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;

      align-items: center;
      align-content: flex-start;

      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;

      z-index: 2;

      >h2 {
        box-sizing: border-box;

        margin-top: 5px;
        margin-bottom: 5px;

        padding-left: 5px;
        padding-right: 5px;

        text-transform: uppercase;
        text-align: center;
        color: #525d7d;
      }

      >.technologiesLogosContainer {
        box-sizing: border-box;
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        align-items: stretch;
        align-content: flex-start;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;

        padding-left: 10px;
        padding-right: 10px;

        >.technologyLogoContainer {
          box-sizing: border-box;

          display: flex;

          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          align-items: center;
          align-content: flex-start;

          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: 20%;

          margin-bottom: 70px;

          padding-right: 5px;
          padding-left: 5px;

          >img {
          }
        }
      }
    }
  }
}

$footerContainerMinWidth1: 0px;
$footerContainerMinWidth2: 320px;
$footerContainerMinWidth3: 650px;
$footerContainerMinWidth4: 800px;
$footerContainerMinWidth5: 960px;

$footerContainerFlexBasis1: 150px;
$footerContainerFlexBasis2: 200px;
$footerContainerFlexBasis3: 370px;
$footerContainerFlexBasis4: 430px;
$footerContainerFlexBasis5: 460px;

$footerContainerFlexBasisDelta1: $footerContainerFlexBasis2 - $footerContainerFlexBasis1;
$footerContainerMinWidthDelta1:  $footerContainerMinWidth2 - $footerContainerMinWidth1;
$footerContainerMinWidthM1: $footerContainerFlexBasisDelta1 / $footerContainerMinWidthDelta1;
$footerContainerMinWidthB1: $footerContainerFlexBasis1 - $footerContainerMinWidthM1 * $footerContainerMinWidth1;

$footerContainerFlexBasisDelta2: $footerContainerFlexBasis3 - $footerContainerFlexBasis2;
$footerContainerMinWidthDelta2:  $footerContainerMinWidth3 - $footerContainerMinWidth2;
$footerContainerMinWidthM2: $footerContainerFlexBasisDelta2 / $footerContainerMinWidthDelta2;
$footerContainerMinWidthB2: $footerContainerFlexBasis2 - $footerContainerMinWidthM2 * $footerContainerMinWidth2;

$footerContainerFlexBasisDelta3: $footerContainerFlexBasis4 - $footerContainerFlexBasis3;
$footerContainerMinWidthDelta3:  $footerContainerMinWidth4 - $footerContainerMinWidth3;
$footerContainerMinWidthM3: $footerContainerFlexBasisDelta3 / $footerContainerMinWidthDelta3;
$footerContainerMinWidthB3: $footerContainerFlexBasis3 - $footerContainerMinWidthM3 * $footerContainerMinWidth3;

$footerContainerFlexBasisDelta4: $footerContainerFlexBasis5 - $footerContainerFlexBasis4;
$footerContainerMinWidthDelta4:  $footerContainerMinWidth5 - $footerContainerMinWidth4;
$footerContainerMinWidthM4: $footerContainerFlexBasisDelta4 / $footerContainerMinWidthDelta4;
$footerContainerMinWidthB4: $footerContainerFlexBasis4 - $footerContainerMinWidthM4 * $footerContainerMinWidth4;

//////



/////

$textContainerMinWidth1: 0px;
$textContainerMinWidth2: 420px;
$textContainerMinWidth3: 650px;
$textContainerMinWidth4: 800px;
$textContainerMinWidth5: 960px;

$textContainerH1FontSize1: 0px;
$textContainerH1FontSize2: 30px;
$textContainerH1FontSize3: 35px;
$textContainerH1FontSize4: 40px;
$textContainerH1FontSize5: 48px;

$textContainerH1FontSizeDelta1: $textContainerH1FontSize2 - $textContainerH1FontSize1;
$textContainerMinWidthDelta1: $textContainerMinWidth2 - $textContainerMinWidth1;
$textContainerFlexBasisH1M1: $textContainerH1FontSizeDelta1 / $textContainerMinWidthDelta1;
$textContainerFlexBasisH1B1: $textContainerH1FontSize1 - $textContainerFlexBasisH1M1 * $textContainerMinWidth1;

$textContainerH1FontSizeDelta2: $textContainerH1FontSize3 - $textContainerH1FontSize2;
$textContainerMinWidthDelta2: $textContainerMinWidth3 - $textContainerMinWidth2;
$textContainerFlexBasisH1M2: $textContainerH1FontSizeDelta2 / $textContainerMinWidthDelta2;
$textContainerFlexBasisH1B2: $textContainerH1FontSize2 - $textContainerFlexBasisH1M2 * $textContainerMinWidth2;

$textContainerH1FontSizeDelta3: $textContainerH1FontSize4 - $textContainerH1FontSize3;
$textContainerMinWidthDelta3: $textContainerMinWidth4 - $textContainerMinWidth3;
$textContainerFlexBasisH1M3: $textContainerH1FontSizeDelta3 / $textContainerMinWidthDelta3;
$textContainerFlexBasisH1B3: $textContainerH1FontSize3 - $textContainerFlexBasisH1M3 * $textContainerMinWidth3;

$textContainerH1FontSizeDelta4: $textContainerH1FontSize5 - $textContainerH1FontSize4;
$textContainerMinWidthDelta4: $textContainerMinWidth5 - $textContainerMinWidth4;
$textContainerFlexBasisH1M4: $textContainerH1FontSizeDelta4 / $textContainerMinWidthDelta4;
$textContainerFlexBasisH1B4: $textContainerH1FontSize4 - $textContainerFlexBasisH1M4 * $textContainerMinWidth4;

//

$textContainerDescriptionFontSize1: 0px;
$textContainerDescriptionFontSize2: 14px;
$textContainerDescriptionFontSize3: 16px;
$textContainerDescriptionFontSize4: 20px;
$textContainerDescriptionFontSize5: 24px;

$textContainerDescriptionFontSizeDelta1: $textContainerDescriptionFontSize2 - $textContainerDescriptionFontSize1;
$textContainerDescriptionFontSizeM1: $textContainerDescriptionFontSizeDelta1 / $textContainerMinWidthDelta1;
$textContainerDescriptionFontSizeB1: $textContainerDescriptionFontSize1 - $textContainerDescriptionFontSizeM1 * $textContainerMinWidth1;

$textContainerDescriptionFontSizeDelta2: $textContainerDescriptionFontSize3 - $textContainerDescriptionFontSize2;
$textContainerDescriptionFontSizeM2: $textContainerDescriptionFontSizeDelta2 / $textContainerMinWidthDelta2;
$textContainerDescriptionFontSizeB2: $textContainerDescriptionFontSize2 - $textContainerDescriptionFontSizeM2 * $textContainerMinWidth2;

$textContainerDescriptionFontSizeDelta3: $textContainerDescriptionFontSize4 - $textContainerDescriptionFontSize3;
$textContainerDescriptionFontSizeM3: $textContainerDescriptionFontSizeDelta3 / $textContainerMinWidthDelta3;
$textContainerDescriptionFontSizeB3: $textContainerDescriptionFontSize3 - $textContainerDescriptionFontSizeM3 * $textContainerMinWidth3;

$textContainerDescriptionFontSizeDelta4: $textContainerDescriptionFontSize5 - $textContainerDescriptionFontSize4;
$textContainerDescriptionFontSizeM4: $textContainerDescriptionFontSizeDelta4 / $textContainerMinWidthDelta4;
$textContainerDescriptionFontSizeB4: $textContainerDescriptionFontSize4 - $textContainerDescriptionFontSizeM4 * $textContainerMinWidth4;


///

$descriptionContainerWidth1: 400px;
$descriptionContainerWidth2: 620px;
$descriptionContainerWidth3: 780px;

$descriptionContainerWidthDelta1: $descriptionContainerWidth2 - $descriptionContainerWidth1;
$descriptionContainerWidthM1: $descriptionContainerWidthDelta1 / $textContainerMinWidthDelta2;
$descriptionContainerWidthB1: $descriptionContainerWidth1 - $descriptionContainerWidthM1 * $textContainerMinWidth2;

$descriptionContainerWidthDelta2: $descriptionContainerWidth3 - $descriptionContainerWidth2;
$descriptionContainerWidthM2: $descriptionContainerWidthDelta2 / $textContainerMinWidthDelta3;
$descriptionContainerWidthB2: $descriptionContainerWidth2 - $descriptionContainerWidthM2 * $textContainerMinWidth3;

////

$textContainerH2FontSize1: 0px;
$textContainerH2FontSize2: 24px;
$textContainerH2FontSize3: 29px;
$textContainerH2FontSize4: 34px;
$textContainerH2FontSize5: 42px;

$textContainerH2FontSizeDelta1: $textContainerH2FontSize2 - $textContainerH2FontSize1;
$textContainerFlexBasisH2M1: $textContainerH2FontSizeDelta1 / $textContainerMinWidthDelta1;
$textContainerFlexBasisH2B1: $textContainerH2FontSize1 - $textContainerFlexBasisH2M1 * $textContainerMinWidth1;

$textContainerH2FontSizeDelta2: $textContainerH2FontSize3 - $textContainerH2FontSize2;
$textContainerFlexBasisH2M2: $textContainerH2FontSizeDelta2 / $textContainerMinWidthDelta2;
$textContainerFlexBasisH2B2: $textContainerH2FontSize2 - $textContainerFlexBasisH2M2 * $textContainerMinWidth2;

$textContainerH2FontSizeDelta3: $textContainerH2FontSize4 - $textContainerH2FontSize3;
$textContainerFlexBasisH2M3: $textContainerH2FontSizeDelta3 / $textContainerMinWidthDelta3;
$textContainerFlexBasisH2B3: $textContainerH2FontSize3 - $textContainerFlexBasisH2M3 * $textContainerMinWidth3;

$textContainerH2FontSizeDelta4: $textContainerH2FontSize5 - $textContainerH2FontSize4;
$textContainerFlexBasisH2M4: $textContainerH2FontSizeDelta4 / $textContainerMinWidthDelta4;
$textContainerFlexBasisH2B4: $textContainerH2FontSize4 - $textContainerFlexBasisH2M4 * $textContainerMinWidth4;

//

$assignmentsDescriptionFontSize1: 0px;
$assignmentsDescriptionFontSize2: 16px;
$assignmentsDescriptionFontSize3: 18px;
$assignmentsDescriptionFontSize4: 20px;
$assignmentsDescriptionFontSize5: 24px;

$assignmentsDescriptionFontSizeDelta1: $assignmentsDescriptionFontSize2 - $assignmentsDescriptionFontSize1;
$assignmentsDescriptionFontSizeM1: $assignmentsDescriptionFontSizeDelta1 / $textContainerMinWidthDelta1;
$assignmentsDescriptionFontSizeB1: $assignmentsDescriptionFontSize1 - $assignmentsDescriptionFontSizeM1 * $textContainerMinWidth1;

$assignmentsDescriptionFontSizeDelta2: $assignmentsDescriptionFontSize3 - $assignmentsDescriptionFontSize2;
$assignmentsDescriptionFontSizeM2: $assignmentsDescriptionFontSizeDelta2 / $textContainerMinWidthDelta2;
$assignmentsDescriptionFontSizeB2: $assignmentsDescriptionFontSize2 - $assignmentsDescriptionFontSizeM2 * $textContainerMinWidth2;

$assignmentsDescriptionFontSizeDelta3: $assignmentsDescriptionFontSize4 - $assignmentsDescriptionFontSize3;
$assignmentsDescriptionFontSizeM3: $assignmentsDescriptionFontSizeDelta3 / $textContainerMinWidthDelta3;
$assignmentsDescriptionFontSizeB3: $assignmentsDescriptionFontSize3 - $assignmentsDescriptionFontSizeM3 * $textContainerMinWidth3;

$assignmentsDescriptionFontSizeDelta4: $assignmentsDescriptionFontSize5 - $assignmentsDescriptionFontSize4;
$assignmentsDescriptionFontSizeM4: $assignmentsDescriptionFontSizeDelta4 / $textContainerMinWidthDelta4;
$assignmentsDescriptionFontSizeB4: $assignmentsDescriptionFontSize4 - $assignmentsDescriptionFontSizeM4 * $textContainerMinWidth4;

//

$assignmentsImageWidth1: 0px;
$assignmentsImageWidth2: 45px;
$assignmentsImageWidth3: 50px;
$assignmentsImageWidth4: 65px;
$assignmentsImageWidth5: 65px;

$assignmentsImageWidthDelta1: $assignmentsImageWidth2 - $assignmentsImageWidth1;
$assignmentsImageWidthM1: $assignmentsImageWidthDelta1 / $textContainerMinWidthDelta1;
$assignmentsImageWidthB1: $assignmentsImageWidth1 - $assignmentsImageWidthM1 * $textContainerMinWidth1;

$assignmentsImageWidthDelta2: $assignmentsImageWidth3 - $assignmentsImageWidth2;
$assignmentsImageWidthM2: $assignmentsImageWidthDelta2 / $textContainerMinWidthDelta2;
$assignmentsImageWidthB2: $assignmentsImageWidth2 - $assignmentsImageWidthM2 * $textContainerMinWidth2;

$assignmentsImageWidthDelta3: $assignmentsImageWidth4 - $assignmentsImageWidth3;
$assignmentsImageWidthM3: $assignmentsImageWidthDelta3 / $textContainerMinWidthDelta3;
$assignmentsImageWidthB3: $assignmentsImageWidth3 - $assignmentsImageWidthM3 * $textContainerMinWidth3;

$assignmentsImageWidthDelta4: $assignmentsImageWidth5 - $assignmentsImageWidth4;
$assignmentsImageWidthM4: $assignmentsImageWidthDelta4 / $textContainerMinWidthDelta4;
$assignmentsImageWidthB4: $assignmentsImageWidth4 - $assignmentsImageWidthM4 * $textContainerMinWidth4;

//

$technologyLogoWidth1: 0px;
$technologyLogoWidth2: 90px;
$technologyLogoWidth3: 100px;
$technologyLogoWidth4: 130px;
$technologyLogoWidth5: 170px;

$technologyLogoWidthDelta1: $technologyLogoWidth2 - $technologyLogoWidth1;
$technologyLogoWidthM1: $technologyLogoWidthDelta1 / $textContainerMinWidthDelta1;
$technologyLogoWidthB1: $technologyLogoWidth1 - $technologyLogoWidthM1 * $textContainerMinWidth1;

$technologyLogoWidthDelta2: $technologyLogoWidth3 - $technologyLogoWidth2;
$technologyLogoWidthM2: $technologyLogoWidthDelta2 / $textContainerMinWidthDelta2;
$technologyLogoWidthB2: $technologyLogoWidth2 - $technologyLogoWidthM2 * $textContainerMinWidth2;

$technologyLogoWidthDelta3: $technologyLogoWidth4 - $technologyLogoWidth3;
$technologyLogoWidthM3: $technologyLogoWidthDelta3 / $textContainerMinWidthDelta3;
$technologyLogoWidthB3: $technologyLogoWidth3 - $technologyLogoWidthM3 * $textContainerMinWidth3;

$technologyLogoWidthDelta4: $technologyLogoWidth5 - $technologyLogoWidth4;
$technologyLogoWidthM4: $technologyLogoWidthDelta4 / $textContainerMinWidthDelta4;
$technologyLogoWidthB4: $technologyLogoWidth4 - $technologyLogoWidthM4 * $textContainerMinWidth4;

@media only screen and (min-width: $footerContainerMinWidth1) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          >h1 {
            font-size: calc(#{$textContainerFlexBasisH1M1} * 100vw + #{$textContainerFlexBasisH1B1});
          }

          >.descriptionContainer {
            width: 90%;
            font-size: calc(#{$textContainerDescriptionFontSizeM1} * 100vw + #{$textContainerDescriptionFontSizeB1});
          }

          >.buttonsContainer {
            >.button {
              font-size: calc(#{$textContainerDescriptionFontSizeM1} * 100vw + #{$textContainerDescriptionFontSizeB1});
            }
          }
        }

        >.footerContainer {
          flex-basis: calc(#{$footerContainerMinWidthM1} * 100vw + #{$footerContainerMinWidthB1});
        }
      }

      >.assignmentsContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M1} * 100vw + #{$textContainerFlexBasisH2B1});
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  width: calc(#{$assignmentsImageWidthM1} * 100vw + #{$assignmentsImageWidthB1});
                }
              }

              .assignmentsDescriptionContainer {
                font-size: calc(#{$assignmentsDescriptionFontSizeM1} * 100vw + #{$assignmentsDescriptionFontSizeB1});
              }
            }
          }
        }
      }


      >.technologyStackContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M1} * 100vw + #{$textContainerFlexBasisH2B1});
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              width: calc(#{$technologyLogoWidthM1} * 100vw + #{$technologyLogoWidthB1});
            }
          }
        }
      }







    }
  }
}


@media only screen and (min-width: $textContainerMinWidth2) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          >h1 {
            font-size: calc(#{$textContainerFlexBasisH1M2} * 100vw + #{$textContainerFlexBasisH1B2});
          }

          >.descriptionContainer {
            width: calc(#{$descriptionContainerWidthM1} * 100vw + #{$descriptionContainerWidthB1});
            font-size: calc(#{$textContainerDescriptionFontSizeM2} * 100vw + #{$textContainerDescriptionFontSizeB2});
          }

          >.buttonsContainer {
            >.button {
              font-size: calc(#{$textContainerDescriptionFontSizeM2} * 100vw + #{$textContainerDescriptionFontSizeB2});
            }
          }
        }
      }

      >.assignmentsContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M2} * 100vw + #{$textContainerFlexBasisH2B2});
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  width: calc(#{$assignmentsImageWidthM2} * 100vw + #{$assignmentsImageWidthB2});
                }
              }

              .assignmentsDescriptionContainer {
                font-size: calc(#{$assignmentsDescriptionFontSizeM2} * 100vw + #{$assignmentsDescriptionFontSizeB2});
              }
            }
          }
        }
      }

      >.technologyStackContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M2} * 100vw + #{$textContainerFlexBasisH2B2});
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              width: calc(#{$technologyLogoWidthM2} * 100vw + #{$technologyLogoWidthB2});
            }
          }
        }
      }




    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth2) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.footerContainer {
          flex-basis: calc(#{$footerContainerMinWidthM2} * 100vw + #{$footerContainerMinWidthB2});
        }
      }
    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth3) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          >h1 {
            font-size: calc(#{$textContainerFlexBasisH1M3} * 100vw + #{$textContainerFlexBasisH1B3});
          }

          >.descriptionContainer {
            width: calc(#{$descriptionContainerWidthM2} * 100vw + #{$descriptionContainerWidthB2});
            font-size: calc(#{$textContainerDescriptionFontSizeM3} * 100vw + #{$textContainerDescriptionFontSizeB3});
          }

          >.buttonsContainer {
            >.button {
              font-size: calc(#{$textContainerDescriptionFontSizeM3} * 100vw + #{$textContainerDescriptionFontSizeB3});
            }
          }
        }

        >.footerContainer {
          flex-basis: calc(#{$footerContainerMinWidthM3} * 100vw + #{$footerContainerMinWidthB3});
        }
      }

      >.assignmentsContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M3} * 100vw + #{$textContainerFlexBasisH2B3});
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  width: calc(#{$assignmentsImageWidthM3} * 100vw + #{$assignmentsImageWidthB3});
                }
              }

              .assignmentsDescriptionContainer {
                font-size: calc(#{$assignmentsDescriptionFontSizeM3} * 100vw + #{$assignmentsDescriptionFontSizeB3});
              }
            }
          }
        }
      }

      >.technologyStackContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M3} * 100vw + #{$textContainerFlexBasisH2B3});
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              width: calc(#{$technologyLogoWidthM3} * 100vw + #{$technologyLogoWidthB3});
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth4) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          flex-grow: 1;

          >h1 {
            font-size: calc(#{$textContainerFlexBasisH1M4} * 100vw + #{$textContainerFlexBasisH1B4});
          }

          >.descriptionContainer {
            width: 780px;
            font-size: calc(#{$textContainerDescriptionFontSizeM4} * 100vw + #{$textContainerDescriptionFontSizeB4});
          }

          >.buttonsContainer {
            >.button {
              font-size: calc(#{$textContainerDescriptionFontSizeM4} * 100vw + #{$textContainerDescriptionFontSizeB4});
            }
          }
        }

        >.footerContainer {
          flex-basis: calc(#{$footerContainerMinWidthM4} * 100vw + #{$footerContainerMinWidthB4});
        }
      }

      >.assignmentsContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M4} * 100vw + #{$textContainerFlexBasisH2B4});
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            flex-basis: auto;
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  width: calc(#{$assignmentsImageWidthM4} * 100vw + #{$assignmentsImageWidthB4});
                }
              }

              .assignmentsDescriptionContainer {
                font-size: calc(#{$assignmentsDescriptionFontSizeM4} * 100vw + #{$assignmentsDescriptionFontSizeB4});
              }
            }
          }
        }
      }


      >.technologyStackContainer {
        >h2 {
          font-size: calc(#{$textContainerFlexBasisH2M4} * 100vw + #{$textContainerFlexBasisH2B4});
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              width: calc(#{$technologyLogoWidthM4} * 100vw + #{$technologyLogoWidthB4});
            }
          }
        }
      }

    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth5) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          flex-grow: 1;

          >h1 {
            font-size: $textContainerH1FontSize5;
          }


          >.descriptionContainer {
            width: 820px;
            font-size: $textContainerDescriptionFontSize5;
          }

          >.buttonsContainer {
            >.button {
              font-size: $textContainerDescriptionFontSize5;
            }
          }
        }

        >.footerContainer {
          flex-basis: 60vh;
        }
      }

      >.assignmentsContainer {
        >h2 {
          font-size: $textContainerH2FontSize5;
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  width: $assignmentsImageWidth5;
                }
              }

              .assignmentsDescriptionContainer {
                font-size: $assignmentsDescriptionFontSize5;
              }
            }
          }
        }
      }

      >.technologyStackContainer {
        >h2 {
          font-size: $textContainerH2FontSize5;
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              width: $technologyLogoWidth5;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.technologyStackContainer {
        >h2 {
          font-size: $textContainerH2FontSize5;
        }

        >.technologiesLogosContainer {
          justify-content: center;
          width: 1250px;

          >.technologyLogoContainer {
            >img {
              width: $technologyLogoWidth5;
            }
          }
        }
      }
    }
  }
}