html {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;

  font-family: 'Viga', sans-serif;
}

.mainContainerOuter {
  width: 100%;
  height: 100%;

  >.mainContainerInner {
    width: 100%;
    height: 100%;

    >.introContainer {
      box-sizing: border-box;

      display: flex;
      position: relative;

      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;

      align-items: stretch;
      align-content: flex-start;

      width: 100%;
      height: 100%;

      z-index: 1;

      >.textContainer {
        position: relative;
        box-sizing: border-box;

        display: flex;

        flex-direction: column;
        flex-wrap: nowrap;

        justify-content: center;
        align-items: center;
        align-content: flex-start;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;

        z-index: 2;

        >h1 {
          box-sizing: border-box;

          margin-top: 5px;
          margin-bottom: 5px;

          padding-left: 5px;
          padding-right: 5px;

          text-transform: uppercase;
          text-align: center;
          color: #525d7d;
        }

        >.descriptionContainer {
          box-sizing: border-box;

          color: #B3ACDF;
          width: 25vw;
        }

        >.buttonsContainer {
          box-sizing: border-box;
          display: flex;

          margin-top: 15px;

          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;

          align-items: center;
          align-content: flex-start;

          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: auto;

          >.button {
            box-sizing: border-box;
            display: block;

            border: 2px solid #525d7d;
            padding: 5px 20px 5px 20px;

            text-align: center;
            text-transform: uppercase;
            text-decoration: none;

            color: #525d7d;
            background-color: white;
          }

          >.button:first-child {
            margin-right: 20px;
          }

          >.primaryButton {
            background-color: #525d7d;
            color: white;
          }
        }
      }

      >.footerContainer {
        position: relative;
        box-sizing: border-box;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;

        background-image: url('images/background/shutterstock_616747982.svg');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-attachment: scroll;
        background-size: 100% 100%;

        box-shadow: 0px -25px 35px -25px black inset;
        z-index: 1;
      }
    }

    >.assignmentsContainer {
      box-sizing: border-box;
      display: flex;

      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;

      align-items: stretch;
      align-content: flex-start;

      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;

      padding-bottom: 50px;

      >h2 {
        box-sizing: border-box;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;

        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        color: #525d7d;
      }

      >.assignmentsColumnsContainer {
        box-sizing: border-box;
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        align-items: stretch;
        align-content: flex-start;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;

        padding-left: 10px;
        padding-right: 10px;

        .assignmentsColumnContainer {
          box-sizing: border-box;
          display: flex;

          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;

          align-items: flex-start;
          align-content: flex-start;

          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: auto;

          .assignmentsRowContainer {
            box-sizing: border-box;
            display: flex;

            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;

            align-items: center;
            align-content: flex-start;

            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;

            padding-top: 12px;

            .assignmentsIconContainer {
              >img {
              }
            }

            .assignmentsDescriptionContainer {
              box-sizing: border-box;

              padding-left: 10px;
              color: #525d7d;
            }
          }
        }

        .assignmentsColumnContainer:first-child {
          padding-right: 10px;
        }

        .assignmentsColumnContainer:nth-child(2) {
          padding-left: 10px;
        }

      }
    }

    >.technologyStackContainer {
      display: flex;
      position: relative;

      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;

      align-items: center;
      align-content: flex-start;

      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;

      z-index: 2;

      >h2 {
        box-sizing: border-box;

        margin-top: 5px;
        margin-bottom: 5px;

        padding-left: 5px;
        padding-right: 5px;

        text-transform: uppercase;
        text-align: center;
        color: #525d7d;
      }

      >.technologiesLogosContainer {
        box-sizing: border-box;
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        align-items: stretch;
        align-content: flex-start;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;

        padding-left: 10px;
        padding-right: 10px;

        >.technologyLogoContainer {
          box-sizing: border-box;

          display: flex;

          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          align-items: center;
          align-content: flex-start;

          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: 20%;

          margin-bottom: 70px;

          padding-right: 5px;
          padding-left: 5px;

          >img {
          }
        }
      }
    }
  }
}

@mixin widthGatewayCalc($x1, $x2, $y1, $y2) {
  $xDelta: $x2 - $x1;
  $yDelta: $y2 - $y1;

  $m: $yDelta / $xDelta;
  $b: $y1 - $m * $x1;

  width: calc(#{$m} * 100vw + #{$b});
}

@mixin flexBasisGatewayCalc($x1, $x2, $y1, $y2) {
  $xDelta: $x2 - $x1;
  $yDelta: $y2 - $y1;

  $m: $yDelta / $xDelta;
  $b: $y1 - $m * $x1;

  flex-basis: calc(#{$m} * 100vw + #{$b});
}

@mixin fontSizeGatewayCalc($x1, $x2, $y1, $y2) {
  $xDelta: $x2 - $x1;
  $yDelta: $y2 - $y1;

  $m: $yDelta / $xDelta;
  $b: $y1 - $m * $x1;

  font-size: calc(#{$m} * 100vw + #{$b});
}

$footerContainerMinWidth1: 0px;
$footerContainerMinWidth2: 320px;
$footerContainerMinWidth3: 650px;
$footerContainerMinWidth4: 800px;
$footerContainerMinWidth5: 960px;

$footerContainerFlexBasis1: 150px;
$footerContainerFlexBasis2: 200px;
$footerContainerFlexBasis3: 370px;
$footerContainerFlexBasis4: 430px;
$footerContainerFlexBasis5: 460px;


//////



/////

$textContainerMinWidth1: 0px;
$textContainerMinWidth2: 420px;
$textContainerMinWidth3: 650px;
$textContainerMinWidth4: 800px;
$textContainerMinWidth5: 960px;

$textContainerH1FontSize1: 0px;
$textContainerH1FontSize2: 30px;
$textContainerH1FontSize3: 35px;
$textContainerH1FontSize4: 40px;
$textContainerH1FontSize5: 48px;

//

$textContainerDescriptionFontSize1: 0px;
$textContainerDescriptionFontSize2: 14px;
$textContainerDescriptionFontSize3: 16px;
$textContainerDescriptionFontSize4: 20px;
$textContainerDescriptionFontSize5: 24px;

///

$descriptionContainerWidth1: 400px;
$descriptionContainerWidth2: 620px;
$descriptionContainerWidth3: 780px;

////

$textContainerH2FontSize1: 0px;
$textContainerH2FontSize2: 24px;
$textContainerH2FontSize3: 29px;
$textContainerH2FontSize4: 34px;
$textContainerH2FontSize5: 42px;


//

$assignmentsDescriptionFontSize1: 0px;
$assignmentsDescriptionFontSize2: 16px;
$assignmentsDescriptionFontSize3: 18px;
$assignmentsDescriptionFontSize4: 20px;
$assignmentsDescriptionFontSize5: 24px;

//

$assignmentsImageWidth1: 0px;
$assignmentsImageWidth2: 45px;
$assignmentsImageWidth3: 50px;
$assignmentsImageWidth4: 65px;
$assignmentsImageWidth5: 65px;

//

$technologyLogoWidth1: 0px;
$technologyLogoWidth2: 90px;
$technologyLogoWidth3: 100px;
$technologyLogoWidth4: 130px;
$technologyLogoWidth5: 170px;

@media only screen and (min-width: $footerContainerMinWidth1) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          >h1 {
            @include fontSizeGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $textContainerH1FontSize1, $textContainerH1FontSize2);
          }

          >.descriptionContainer {
            width: 90%;
            @include fontSizeGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $textContainerDescriptionFontSize1, $textContainerDescriptionFontSize2);
          }

          >.buttonsContainer {
            >.button {
              @include fontSizeGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $textContainerDescriptionFontSize1, $textContainerDescriptionFontSize2);
            }
          }
        }

        >.footerContainer {
          @include flexBasisGatewayCalc($footerContainerMinWidth1, $footerContainerMinWidth2, $footerContainerFlexBasis1, $footerContainerFlexBasis2);
        }
      }

      >.assignmentsContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $textContainerH2FontSize1, $textContainerH2FontSize2);
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            width: 50%;
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  @include widthGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $assignmentsImageWidth1, $assignmentsImageWidth2);
                }
              }

              .assignmentsDescriptionContainer {
                @include fontSizeGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $assignmentsDescriptionFontSize1, $assignmentsDescriptionFontSize2);
              }
            }
          }
        }
      }


      >.technologyStackContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $textContainerH2FontSize1, $textContainerH2FontSize2);
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              @include widthGatewayCalc($textContainerMinWidth1, $textContainerMinWidth2, $technologyLogoWidth1, $technologyLogoWidth2);
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth2) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.footerContainer {
          @include flexBasisGatewayCalc($footerContainerMinWidth2, $footerContainerMinWidth3, $footerContainerFlexBasis2, $footerContainerFlexBasis3);
        }
      }
    }
  }
}

@media only screen and (min-width: $textContainerMinWidth2) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          >h1 {
            @include fontSizeGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $textContainerH1FontSize2, $textContainerH1FontSize3);
          }

          >.descriptionContainer {
            @include widthGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $descriptionContainerWidth1, $descriptionContainerWidth2);
            @include fontSizeGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $textContainerDescriptionFontSize2, $textContainerDescriptionFontSize3);
          }

          >.buttonsContainer {
            >.button {
              @include fontSizeGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $textContainerDescriptionFontSize2, $textContainerDescriptionFontSize3);
            }
          }
        }
      }

      >.assignmentsContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $textContainerH2FontSize2, $textContainerH2FontSize3);
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            width: 50%;
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  @include widthGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $assignmentsImageWidth2, $assignmentsImageWidth3);
                }
              }

              .assignmentsDescriptionContainer {
                @include fontSizeGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $assignmentsDescriptionFontSize2, $assignmentsDescriptionFontSize3);
              }
            }
          }
        }
      }

      >.technologyStackContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $textContainerH2FontSize2, $textContainerH2FontSize3);
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              @include widthGatewayCalc($textContainerMinWidth2, $textContainerMinWidth3, $technologyLogoWidth2, $technologyLogoWidth3);
            }
          }
        }
      }

    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth3) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          >h1 {
            @include fontSizeGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $textContainerH1FontSize3, $textContainerH1FontSize4);
          }

          >.descriptionContainer {
            @include widthGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $descriptionContainerWidth2, $descriptionContainerWidth3);
            @include fontSizeGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $textContainerDescriptionFontSize3, $textContainerDescriptionFontSize4);
          }

          >.buttonsContainer {
            >.button {
              @include fontSizeGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $textContainerDescriptionFontSize3, $textContainerDescriptionFontSize4);
            }
          }
        }

        >.footerContainer {
          @include flexBasisGatewayCalc($footerContainerMinWidth3, $footerContainerMinWidth4, $footerContainerFlexBasis3, $footerContainerFlexBasis4);
        }
      }

      >.assignmentsContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $textContainerH2FontSize3, $textContainerH2FontSize4);
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  @include widthGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $assignmentsImageWidth3, $assignmentsImageWidth4);
                }
              }

              .assignmentsDescriptionContainer {
                @include fontSizeGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $assignmentsDescriptionFontSize3, $assignmentsDescriptionFontSize4);
              }
            }
          }
        }
      }

      >.technologyStackContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $textContainerH2FontSize3, $textContainerH2FontSize4);
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              @include widthGatewayCalc($textContainerMinWidth3, $textContainerMinWidth4, $technologyLogoWidth3, $technologyLogoWidth4);
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth4) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          flex-grow: 1;

          >h1 {
            @include fontSizeGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $textContainerH1FontSize4, $textContainerH1FontSize5);
          }

          >.descriptionContainer {
            width: 780px;
            @include fontSizeGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $textContainerDescriptionFontSize4, $textContainerDescriptionFontSize5);
          }

          >.buttonsContainer {
            >.button {
              @include fontSizeGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $textContainerDescriptionFontSize4, $textContainerDescriptionFontSize5);
            }
          }
        }

        >.footerContainer {
          @include flexBasisGatewayCalc($footerContainerMinWidth4, $footerContainerMinWidth5, $footerContainerFlexBasis4, $footerContainerFlexBasis5);
        }
      }

      >.assignmentsContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $textContainerH2FontSize4, $textContainerH2FontSize5);
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            flex-basis: auto;

            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  @include widthGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $assignmentsImageWidth4, $assignmentsImageWidth5);
                }
              }

              .assignmentsDescriptionContainer {
                @include fontSizeGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $assignmentsDescriptionFontSize4, $assignmentsDescriptionFontSize5);
              }
            }
          }
        }
      }


      >.technologyStackContainer {
        >h2 {
          @include fontSizeGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $textContainerH2FontSize4, $textContainerH2FontSize5);
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              @include widthGatewayCalc($textContainerMinWidth4, $textContainerMinWidth5, $technologyLogoWidth4, $technologyLogoWidth5);
            }
          }
        }
      }

    }
  }
}

@media only screen and (min-width: $footerContainerMinWidth5) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.introContainer {
        >.textContainer {
          flex-grow: 1;

          >h1 {
            font-size: $textContainerH1FontSize5;
          }


          >.descriptionContainer {
            width: 820px;
            font-size: $textContainerDescriptionFontSize5;
          }

          >.buttonsContainer {
            >.button {
              font-size: $textContainerDescriptionFontSize5;
            }
          }
        }

        >.footerContainer {
          flex-basis: 60vh;
        }
      }

      >.assignmentsContainer {
        >h2 {
          font-size: $textContainerH2FontSize5;
        }

        >.assignmentsColumnsContainer {
          .assignmentsColumnContainer {
            flex-basis: 477px;

            .assignmentsRowContainer {
              .assignmentsIconContainer {
                >img {
                  width: $assignmentsImageWidth5;
                }
              }

              .assignmentsDescriptionContainer {
                font-size: $assignmentsDescriptionFontSize5;
              }
            }
          }
        }
      }

      >.technologyStackContainer {
        >h2 {
          font-size: $textContainerH2FontSize5;
        }

        >.technologiesLogosContainer {
          >.technologyLogoContainer {
            >img {
              width: $technologyLogoWidth5;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  .mainContainerOuter {
    >.mainContainerInner {
      >.technologyStackContainer {
        >h2 {
          font-size: $textContainerH2FontSize5;
        }

        >.technologiesLogosContainer {
          justify-content: center;
          width: 1250px;

          >.technologyLogoContainer {
            >img {
              width: $technologyLogoWidth5;
            }
          }
        }
      }
    }
  }
}