// footer container linear with progression
$footerContainerMinWidth1: 0px;
$footerContainerMinWidth2: 320px;
$footerContainerMinWidth3: 650px;
$footerContainerMinWidth4: 800px;
$footerContainerMinWidth5: 960px;

// text container linear with progression
$textContainerMinWidth1: 0px;
$textContainerMinWidth2: 420px;
$textContainerMinWidth3: 650px;
$textContainerMinWidth4: 800px;
$textContainerMinWidth5: 960px;